Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Cors==5.0.0
python-dotenv==1.0.1

SQLAlchemy==2.0.35
PyMySQL==1.1.1

pandas==2.2.3
numpy==1.26.4

scikit-learn==1.5.2

sentence-transformers==3.0.1
transformers==4.45.2
torch

rapidfuzz==3.10.1

langdetect==1.0.9

indic-transliteration==2.3.59

vaderSentiment==3.3.2

gunicorn